# .gitignore file for the ADCS Integration Board repository

# Build Configurations
*/Debug
*/Release
*/compiledb

# Build Artifacts
*.cyclo
*.d
*.o
*.su
*.elf
*.list
*.map
*.mk

# clang/d Files
*.cache
compile_commands.json

# Dependency Directories
node_modules/
venv/
__pycache__/

# IDE / Code Editor Files
.vscode/
.idea/
.DS_Store
.settings/

# Log Files
*.log
logs/

# Environment Files
.env
.env.local
